@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
$fontMain: 'IBM Plex Sans', sans-serif;
$fontAlt: 'Instrument Sans', sans-serif;

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGrayLight: #808080FF;
$colorGrayDesa: #323F48;
$colorPurple: #48317A;

* {
    font-family: $fontMain;
}

h1 {
    font-family: $fontMain;
    text-align: center;
}

a {
    color: $colorBlack;
    font-size: 20px;
    font-family: $fontMain;
    text-decoration: none;
}

html, body {
    padding: 0px;
    margin: 0px;
    background-color: $colorGrayDesa;
    width: 100vw;
}

body * {
    margin: 0;
    padding: 0;
}
div{
    text-align: center;
}
form {
    max-width: 600px;
    margin: -50px auto;
    padding: 50px;
    background: $colorWhite;
    border-radius: 10px;
}



form {
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    background: $colorWhite;
    border-radius: 10px;
}

.card {
    background: $colorWhite;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}
